* {
    box-sizing: border-box;
    margin: 0 auto;
}

body {
    font-family: verdana;
    background-image: url("../images/corkBoard.jpg");
}

h1 {
    text-align: center;
    margin: 20px;
}

.addTodo {
    text-align: center;
}

main {
    width: 90%;
    border: 3px solid black;
    overflow: auto;
    margin-top: 30px;
    margin-bottom: 50px;
}

.todo-board {
    background-color: white;
    width: 48%;
    padding: 5px;
    float: left;
}

.done {
    background-color: white;
    float: right;
    width: 48%;
    padding: 5px;
}

.todo {
    font-size: 13px;
    background-image: ;
    width: 90%;
    padding: 5px;
    overflow: auto;
}

.todo p {
    color: hotpink;
}

.todo button {
    float: left;
}